<div class="row">
  <%= form_tag contacts_path, method: :get, id: 'contacts-search-form', data: { current_params: params.to_param } do %>
    <div class="small-12 columns">
      <select name="segments_ids[]" id="segments-ids-select" data-select-two multiple="multiple" placeholder="<%= t('search') + ' ' + Segment.model_name.human(count: 2) %>">
        <% @segments_list.each do |segment| %>
          <option value="<%= segment.id %>" <%= 'selected="selected"' if @search_segments.include?(segment) %>><%= segment.name %></option>
        <% end %>
      </select>
    </div>
    <div class="small-12 medium-2 columns search-form-actions">
      <%= submit_tag t('search'), class: 'button primary' %>
    </div>
    <div class="small-12 medium-10 columns search-form-actions right">
      <div class="links">
        <a href="<%= segments_path %>"><%= t('list', model: Segment.model_name.human(count: 2)) %></a>
        <span>|</span>
        <a href="<%= new_segment_path %>"><%= t('helpers.submit.create', model: Segment.model_name.human) %></a>
        <span>|</span>
        <%= link_to t('helpers.submit.create', model: Contact.model_name.human), new_contact_path %>
      </div>
    </div>
  <% end %>

  <hr />

  <div id="contacts-area">
    <%= render "contacts_table" %>
  </div>
</div>
